* {
    -webkit-user-select: none !important;
    -moz-user-select: none !important;
    -ms-user-select: none !important;
    user-select: none !important;
}

::selection {
    background: rgba(167, 233, 255, 0.466);
    color: #000;
}

body {
    background-color: #f5f5f5;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    max-height: 100vh;
    overflow-y: hidden;
}

.titlebar {
    margin: 0;
    height: 80px;
    width: 100vw;
    left: 0;
    top: 0;
    padding: 0;
    padding-top: 15px;
    border: none;
    position: fixed;
    box-shadow: 0px 1px 3px 0px rgb(0 0 0 / 45%);
    background-color: white;
    z-index: 199;
}

.titlebar font {
    font-size: 20px;
    font-family: "Helvetica", monospace;
    margin-left: 10px;
}

textarea {
    overflow-y: auto;
    left: 0;
    border: none;
    resize: none;
    outline: none;
    margin-top: 100px;
    width: calc(100vw - 20px);
    background-color: transparent;
    height: calc(100vh - 120px);
    font-size: 36px;
    cursor: default;
}

#next {
    position: fixed;
    right: 50px;
    bottom: 50px;
    height: 60px;
    width: 60px;
    font-size: 20px;
    border-radius: 50%;
    border: 1px solid black;
    transition: background-color 0.5s;
    font-family: "Helvetica", monospace;
    color: #000;
    cursor: pointer;
}

#back {
    position: fixed;
    left: 50px;
    bottom: 50px;
    height: 60px;
    width: 60px;
    font-size: 20px;
    border-radius: 50%;
    border: 1px solid black;
    transition: background-color 0.5s;
    font-family: "Helvetica", monospace;
    color: #000;
    cursor: pointer;
}

#next:active,
#back:active {
    background-color: #000000;
    color: #fff;
}

input[type="number"] {
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    width: 60px;
    height: 20px;
    border: 1px solid black;
    font-size: 20px;
    font-family: "Helvetica", monospace;
    color: #000;
    text-align: center;
    cursor: pointer;
    outline: none;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}