<!DOCTYPE html>
<html lang="zh-cn">

<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Read | Text Zero</title>
    <link rel="stylesheet" href="read.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Round" rel="stylesheet">
</head>

<body>
    <center>
        <div class="titlebar">

            <font id="asdbajh"></font><br>
            <button id="next">
                <span class="material-icons-round">
                navigate_next
                </span>
            </button>
            <button id="back">
                <span class="material-icons-round">
                    navigate_before
                </span>
            </button>
        </div>
        <div class="content">
            <div id="content">

            </div>
        </div>

    </center>
    <div id="toolbar">
        <div id="nav-icon1">
            <span></span>
            <span></span>
            <span></span>
        </div>
        <center id="c">
            <font>字体大小</font><br><input type="number" id="fs" value="36" oninput="change(this.value)">
            <br><br>
            <font>字体</font><br>
            <select onchange="font(this.value)">
                <option value ="'Noto Sans SC', sans-serif">Noto Sans SC</option>
                <option value ="'ZCOOL QingKe HuangYou', cursive">ZCOOL QingKe HuangYou</option>
                <option value="'Zhi Mang Xing', cursive">Zhi Mang Xing</option>
                <option value="'ZCOOL XiaoWei', serif">ZCOOL XiaoWei</option>
              </select>
        </center>
    </div>
    <script src="load.js"></script>
    <script src="read.js"></script>
    <script src="animate.js"></script>
</body>

</html>